import { test, expect } from '@playwright/test';

test.use({
  ignoreHTTPSErrors: true
});

test('ragllm: test proposal generation and grafana dashboard', async ({ page }) => {
  test.setTimeout(240000);
  // Log in to Openshift console
  await page.goto("{{ hub_console.stdout }}");
  await page.getByLabel('Username *').fill('kubeadmin');
  await page.getByLabel('Password *').fill("{{ kubeadmin }}");
  await page.getByRole('button', { name: 'Log in' }).click();

  // Launch RAG-LLM demo UI
  await page.locator('[data-test-id="application-launcher"]').click();
  const page1Promise = page.waitForEvent('popup');
  await page.getByRole('menuitem', { name: 'Retrieval-Augmented' }).click();
  const page1 = await page1Promise;

  // Supply customer and product names
  await page1.getByRole('textbox', { name: 'Customer Enter the customer' }).click();
  await page1.getByRole('textbox', { name: 'Customer Enter the customer' }).fill('validated-patterns-qe');
  await page1.getByRole('textbox', { name: 'Product Enter the Red Hat' }).click();
  await page1.getByRole('textbox', { name: 'Product Enter the Red Hat' }).fill('RedHat OpenShift AI');

  // Generate proposal and add rating
  await page1.getByRole('button', { name: 'Generate' }).click();
  await page1.waitForTimeout(60000);
  await page1.getByRole('radio', { name: '3' }).check();
  await page1.waitForTimeout(60000);
  
  // Add a provider
  await page1.getByRole('tab', { name: 'Configuration' }).click();
  await page1.getByRole('button', { name: 'Add Provider' }).click();
  await page1.getByRole('listbox', { name: 'Providers' }).click();
  await page1.getByRole('option', { name: 'OpenAI' }).click();
  await page1.getByRole('textbox', { name: 'Model Enter the model name' }).click();
  await page1.getByRole('textbox', { name: 'Model Enter the model name' }).fill('gtp-4o-mini');
  await page1.getByRole('textbox', { name: 'URL Enter the URL' }).click();
  await page1.getByRole('textbox', { name: 'URL Enter the URL' }).fill('https://api.openai.com/vi/chat/completions');
  await page1.getByTestId('password').click();
  await page1.getByTestId('password').fill('12121212');
  await page1.getByRole('button', { name: 'Add', exact: true }).click();
  await page1.getByTestId('toast-close').click();
  await page1.screenshot({ path: 'ragllm-add-provider-1-chromium-linux.png' });
  // await page1.screenshot({ path: 'add-provider.png', fullPage: true });

  // Check grafana dashboard
  await page.locator('[data-test-id="application-launcher"]').click();
  const page2Promise = page.waitForEvent('popup');
  await page.getByRole('menuitem', { name: 'Grafana UI for LLM Ratings' }).click();
  const page2 = await page2Promise;
  await page2.getByTestId('data-testid navigation mega-menu').getByRole('link', { name: 'Dashboards' }).click();
  await page2.getByRole('link', { name: 'llm-monitoring' }).click();
  await page2.getByRole('link', { name: 'MODEL FEEDBACK/RATING' }).click();
  await page2.waitForTimeout(10000);
  await page2.screenshot({ path: 'ragllm-grafana-dashboard-1-chromium-linux.png' });
  // await page2.screenshot({ path: 'grafana-dashboard.png', fullPage: true });
});
